# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(
    Path("./Resources/applicants_data.csv")
)# YOUR CODE HERE

# Review the DataFrame
# YOUR CODE HERE
applicant_data_df.head(5)

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Review the data types associated with the columns
# YOUR CODE HERE
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [4]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df=applicant_data_df.drop(columns=["EIN","NAME"])

# Review the DataFrame
# YOUR CODE HERE
applicant_data_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [5]:
# Create a list of categorical variables 
categorical_variables =list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index) # YOUR CODE HERE

# Display the categorical variables list
# YOUR CODE HERE
categorical_variables=['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']     
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [7]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])# YOUR CODE HERE
encoded_data

array([[1., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       ...,
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.]])

In [8]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names_out(categorical_variables)
)

# Display sample data
encoded_df.head()
# YOUR CODE HERE

# Review the DataFrame
# YOUR CODE HERE
encoded_data

array([[1., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       ...,
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.]])

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [9]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
numerical_variables_df = applicant_data_df.drop(columns = categorical_variables)
new_df =pd.concat(
    [
        numerical_variables_df,
        encoded_df
        
    ],
    axis=1
) # YOUR CODE HERE

# Review the Dataframe
# YOUR CODE HERE
new_df.head(12)

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
6,1,31452,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
7,1,7508025,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
8,1,94389,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
10,1,69656,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
11,1,165593,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [10]:
# Define the target set y using the IS_SUCCESSFUL column
y =new_df["IS_SUCCESSFUL"]

# Display a sample of y
# YOUR CODE HERE
y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [11]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = new_df.drop(columns=["IS_SUCCESSFUL"])
X.head(12)
# Review the features DataFrame
# YOUR CODE HERE

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
6,1,31452,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
7,1,7508025,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
8,1,94389,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
10,1,69656,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
11,1,165593,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [12]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=1)
X_train

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
10679,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5052,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9990,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
25173,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
11405,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7813,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
32511,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5192,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
12172,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
33003,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [13]:
# Create a StandardScaler instance
scaler = StandardScaler() # YOUR CODE HERE

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train) # YOUR CODE HERE
X_test_scaled = X_scaler.transform(X_test) # YOUR CODE HERE

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [14]:
# Define the the number of inputs (features) to the model
number_input_features =116 # YOUR CODE HERE

# Review the number of features
number_input_features

116

In [15]:
# Define the number of neurons in the output layer
number_output_neurons = 1# YOUR CODE HERE

In [16]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = 200 # YOUR CODE HERE

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

200

In [17]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = 300 # YOUR CODE HERE

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

300

In [19]:
# Create the Sequential model instance
nn = Sequential() # YOUR CODE HERE

In [20]:
# Add the first hidden layer
# YOUR CODE HERE
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [21]:
# Add the second hidden layer
# YOUR CODE HERE
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [22]:
# Add the output layer to the model specifying the number of output neurons and activation function
# YOUR CODE HERE
nn.add(Dense(units=1, activation="linear"))

In [23]:
# Display the Sequential model summary
# YOUR CODE HERE
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 200)               23400

 dense_1 (Dense)             (None, 300)               60300

 dense_2 (Dense)             (None, 1)                 301

=================================================================
Total params: 84,001
Trainable params: 84,001
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [24]:
# Compile the Sequential model
# YOUR CODE HERE
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [25]:
# Fit the model using 50 epochs and the training data
# YOUR CODE HERE
deep_net_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 4s 4ms/step - loss: 1.8280 - accuracy: 0.6751
Epoch 2/50
804/804 [==============================] - 3s 3ms/step - loss: 1.3035 - accuracy: 0.6934
Epoch 3/50
804/804 [==============================] - 3s 3ms/step - loss: 1.0739 - accuracy: 0.7007
Epoch 4/50
804/804 [==============================] - 3s 3ms/step - loss: 0.9439 - accuracy: 0.7123
Epoch 5/50
804/804 [==============================] - 3s 3ms/step - loss: 1.2068 - accuracy: 0.7041
Epoch 6/50
804/804 [==============================] - 3s 3ms/step - loss: 1.2715 - accuracy: 0.7048
Epoch 7/50
804/804 [==============================] - 3s 3ms/step - loss: 1.1403 - accuracy: 0.7048
Epoch 8/50
804/804 [==============================] - 3s 3ms/step - loss: 0.9068 - accuracy: 0.7163
Epoch 9/50
804/804 [==============================] - 3s 3ms/step - loss: 1.0777 - accuracy: 0.7078
Epoch 10/50
804/804 [==============================] - 3s 3ms/step - loss: 0.9924 - accuracy: 0.7194
Epoch 11/50
804/804 [==============================] - 3s 3ms/step - loss: 0.9974 - accuracy: 0.7156
Epoch 12/50
804/804 [==============================] - 3s 3ms/step - loss: 0.9890 - accuracy: 0.7208
Epoch 13/50
804/804 [==============================] - 3s 3ms/step - loss: 0.9921 - accuracy: 0.7214
Epoch 14/50
804/804 [==============================] - 3s 3ms/step - loss: 0.9863 - accuracy: 0.7192
Epoch 15/50
804/804 [==============================] - 3s 3ms/step - loss: 0.9918 - accuracy: 0.7193
Epoch 16/50
804/804 [==============================] - 3s 3ms/step - loss: 0.9904 - accuracy: 0.7211
Epoch 17/50
804/804 [==============================] - 3s 3ms/step - loss: 0.9058 - accuracy: 0.7255
Epoch 18/50
804/804 [==============================] - 3s 3ms/step - loss: 0.8580 - accuracy: 0.7243
Epoch 19/50
804/804 [==============================] - 3s 3ms/step - loss: 0.9115 - accuracy: 0.7233
Epoch 20/50
804/804 [==============================] - 3s 3ms/step - loss: 1.2147 - accuracy: 0.7044
Epoch 21/50
804/804 [==============================] - 3s 3ms/step - loss: 1.1913 - accuracy: 0.7062
Epoch 22/50
804/804 [==============================] - 3s 3ms/step - loss: 1.1456 - accuracy: 0.7095
Epoch 23/50
804/804 [==============================] - 3s 3ms/step - loss: 1.1396 - accuracy: 0.7070
Epoch 24/50
804/804 [==============================] - 3s 3ms/step - loss: 1.1429 - accuracy: 0.7070
Epoch 25/50
804/804 [==============================] - 3s 3ms/step - loss: 1.1336 - accuracy: 0.7116
Epoch 26/50
804/804 [==============================] - 3s 3ms/step - loss: 1.1401 - accuracy: 0.7106
Epoch 27/50
804/804 [==============================] - 3s 3ms/step - loss: 1.2317 - accuracy: 0.6992
Epoch 28/50
804/804 [==============================] - 3s 3ms/step - loss: 0.9092 - accuracy: 0.7242
Epoch 29/50
804/804 [==============================] - 3s 3ms/step - loss: 0.9035 - accuracy: 0.7257
Epoch 30/50
804/804 [==============================] - 3s 3ms/step - loss: 0.9093 - accuracy: 0.7248
Epoch 31/50
804/804 [==============================] - 3s 3ms/step - loss: 0.9400 - accuracy: 0.7247
Epoch 32/50
804/804 [==============================] - 3s 3ms/step - loss: 0.9400 - accuracy: 0.7251
Epoch 33/50
804/804 [==============================] - 3s 3ms/step - loss: 0.9350 - accuracy: 0.7222
Epoch 34/50
804/804 [==============================] - 3s 3ms/step - loss: 0.9954 - accuracy: 0.7205
Epoch 35/50
804/804 [==============================] - 3s 3ms/step - loss: 1.1229 - accuracy: 0.7118
Epoch 36/50
804/804 [==============================] - 3s 3ms/step - loss: 1.1737 - accuracy: 0.7063
Epoch 37/50
804/804 [==============================] - 3s 3ms/step - loss: 1.1715 - accuracy: 0.7086
Epoch 38/50
804/804 [==============================] - 3s 3ms/step - loss: 1.0750 - accuracy: 0.7147
Epoch 39/50
804/804 [==============================] - 3s 3ms/step - loss: 0.9698 - accuracy: 0.7221
Epoch 40/50
804/804 [==============================] - 3s 3ms/step - loss: 0.8703 - accuracy: 0.7304
Epoch 41/50
804/804 [==============================] - 3s 3ms/step - loss: 0.9741 - accuracy: 0.7235
Epoch 42/50
804/804 [==============================] - 3s 3ms/step - loss: 0.9944 - accuracy: 0.7216
Epoch 43/50
804/804 [==============================] - 3s 3ms/step - loss: 1.0370 - accuracy: 0.7183
Epoch 44/50
804/804 [==============================] - 3s 3ms/step - loss: 1.0342 - accuracy: 0.7199
Epoch 45/50
804/804 [==============================] - 3s 3ms/step - loss: 1.0415 - accuracy: 0.7189
Epoch 46/50
804/804 [==============================] - 3s 3ms/step - loss: 1.1022 - accuracy: 0.7060
Epoch 47/50
804/804 [==============================] - 3s 3ms/step - loss: 1.1284 - accuracy: 0.7124
Epoch 48/50
804/804 [==============================] - 3s 3ms/step - loss: 1.0920 - accuracy: 0.7151
Epoch 49/50
804/804 [==============================] - 3s 3ms/step - loss: 0.9980 - accuracy: 0.7195
Epoch 50/50
804/804 [==============================] - 3s 3ms/step - loss: 1.0429 - accuracy: 0.7154

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [26]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =nn.evaluate(X_test_scaled, y_test, verbose=2)
 # YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 1.1166 - accuracy: 0.7089 - 906ms/epoch - 3ms/step
Loss: 1.1166467666625977, Accuracy: 0.7089212536811829

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [35]:
# Set the model's file path
file_path = Path("Resources/Alphabetsoup.h5")# YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [36]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [37]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1# YOUR CODE HERE

In [38]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 400 # YOUR CODE HERE

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

400

In [39]:
# Create the Sequential model instance
nn_A1 = Sequential()# YOUR CODE HERE

In [40]:
# First hidden layer
# YOUR CODE HERE

nn_A1.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))
# Output layer
# YOUR CODE HERE

nn_A1.add(Dense(units=1, activation="linear"))
# Check the structure of the model
# YOUR CODE HERE
nn_A1.add(Dense(units=1, activation="linear"))

In [41]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])
# YOUR CODE HERE

In [42]:
# Fit the model using 50 epochs and the training data
fit_model_A1 =nn_A1.fit(X_train_scaled, y_train, epochs=50)# YOUR CODE HERE

Epoch 1/50
804/804 [==============================] - 3s 3ms/step - loss: 1.6207 - accuracy: 0.6631
Epoch 2/50
804/804 [==============================] - 2s 3ms/step - loss: 1.3763 - accuracy: 0.6923
Epoch 3/50
804/804 [==============================] - 2s 3ms/step - loss: 1.4595 - accuracy: 0.6889
Epoch 4/50
804/804 [==============================] - 2s 3ms/step - loss: 1.6287 - accuracy: 0.6834
Epoch 5/50
804/804 [==============================] - 2s 3ms/step - loss: 1.7695 - accuracy: 0.6813
Epoch 6/50
804/804 [==============================] - 2s 3ms/step - loss: 1.7859 - accuracy: 0.6705
Epoch 7/50
804/804 [==============================] - 2s 3ms/step - loss: 1.7272 - accuracy: 0.6824
Epoch 8/50
804/804 [==============================] - 2s 3ms/step - loss: 1.8179 - accuracy: 0.6865
Epoch 9/50
804/804 [==============================] - 2s 3ms/step - loss: 1.7665 - accuracy: 0.6803
Epoch 10/50
804/804 [==============================] - 2s 3ms/step - loss: 1.7577 - accuracy: 0.6843
Epoch 11/50
804/804 [==============================] - 2s 3ms/step - loss: 1.5398 - accuracy: 0.6990
Epoch 12/50
804/804 [==============================] - 2s 3ms/step - loss: 1.6135 - accuracy: 0.6950
Epoch 13/50
804/804 [==============================] - 2s 3ms/step - loss: 1.4127 - accuracy: 0.6636
Epoch 14/50
804/804 [==============================] - 2s 3ms/step - loss: 0.7644 - accuracy: 0.7266
Epoch 15/50
804/804 [==============================] - 2s 3ms/step - loss: 0.7498 - accuracy: 0.7272
Epoch 16/50
804/804 [==============================] - 2s 3ms/step - loss: 0.7118 - accuracy: 0.7292
Epoch 17/50
804/804 [==============================] - 2s 3ms/step - loss: 0.7100 - accuracy: 0.7316
Epoch 18/50
804/804 [==============================] - 2s 3ms/step - loss: 0.7662 - accuracy: 0.6971
Epoch 19/50
804/804 [==============================] - 2s 3ms/step - loss: 0.7071 - accuracy: 0.7255
Epoch 20/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6801 - accuracy: 0.7222
Epoch 21/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6564 - accuracy: 0.7266
Epoch 22/50
804/804 [==============================] - 2s 3ms/step - loss: 0.7018 - accuracy: 0.7260
Epoch 23/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6723 - accuracy: 0.7281
Epoch 24/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6637 - accuracy: 0.7297
Epoch 25/50
804/804 [==============================] - 2s 3ms/step - loss: 0.7027 - accuracy: 0.7138
Epoch 26/50
804/804 [==============================] - 2s 3ms/step - loss: 0.7276 - accuracy: 0.7268
Epoch 27/50
804/804 [==============================] - 2s 3ms/step - loss: 0.7328 - accuracy: 0.7250
Epoch 28/50
804/804 [==============================] - 2s 3ms/step - loss: 0.7181 - accuracy: 0.7263
Epoch 29/50
804/804 [==============================] - 2s 3ms/step - loss: 0.7111 - accuracy: 0.7257
Epoch 30/50
804/804 [==============================] - 2s 3ms/step - loss: 0.7259 - accuracy: 0.7134
Epoch 31/50
804/804 [==============================] - 2s 3ms/step - loss: 0.7078 - accuracy: 0.7271
Epoch 32/50
804/804 [==============================] - 2s 3ms/step - loss: 0.7485 - accuracy: 0.7241
Epoch 33/50
804/804 [==============================] - 2s 3ms/step - loss: 0.7245 - accuracy: 0.7268
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6680 - accuracy: 0.7287
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6313 - accuracy: 0.7322
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6300 - accuracy: 0.7316
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6428 - accuracy: 0.7246
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6302 - accuracy: 0.7303
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6301 - accuracy: 0.7302
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6339 - accuracy: 0.7284
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6362 - accuracy: 0.7069
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6073 - accuracy: 0.7327
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5977 - accuracy: 0.7331
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5964 - accuracy: 0.7330
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5986 - accuracy: 0.7339
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6016 - accuracy: 0.7325
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6020 - accuracy: 0.7321
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6019 - accuracy: 0.7331
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6016 - accuracy: 0.7330
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5994 - accuracy: 0.7336

#### Alternative Model 2

In [43]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [44]:
# Define the number of neurons in the output layer
number_output_neurons_A2 =1 # YOUR CODE HERE

In [45]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 800 # YOUR CODE HERE

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

800

In [46]:
# Create the Sequential model instance
nn_A2 = Sequential() # YOUR CODE HERE

In [47]:
# First hidden layer
# YOUR CODE HERE
nn_A2.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))
# Output layer
nn_A2.add(Dense(units=1, activation="linear"))
# YOUR CODE HERE

# Check the structure of the model
# YOUR CODE HERE

In [48]:
# Compile the model
# YOUR CODE HERE
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [49]:
# Fit the model
# YOUR CODE HERE
fit_model_A2 =nn_A2.fit(X_train_scaled, y_train, epochs=50)# YOUR CODE HERE

Epoch 1/50
804/804 [==============================] - 1s 1ms/step - loss: 1.8406 - accuracy: 0.6659
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 2.1048 - accuracy: 0.6655
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 2.4443 - accuracy: 0.6802
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 2.4541 - accuracy: 0.6979
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 4.1790 - accuracy: 0.6116
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 4.6108 - accuracy: 0.5946
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 4.3851 - accuracy: 0.6010
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 4.3327 - accuracy: 0.6035
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 4.3486 - accuracy: 0.6046
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 2.5851 - accuracy: 0.6908
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 2.5988 - accuracy: 0.7095
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 2.2238 - accuracy: 0.6990
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 2.0785 - accuracy: 0.6743
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 1.9645 - accuracy: 0.6820
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 1.8891 - accuracy: 0.6929
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 1.9245 - accuracy: 0.6885
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 1.5491 - accuracy: 0.7071
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 1.3671 - accuracy: 0.7150
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 1.7649 - accuracy: 0.6852
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 1.6397 - accuracy: 0.6875
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 1.1761 - accuracy: 0.7095
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 1.0500 - accuracy: 0.7105
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 1.0092 - accuracy: 0.7216
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 1.0156 - accuracy: 0.7178
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.9867 - accuracy: 0.7215
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.9719 - accuracy: 0.7230
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 1.3244 - accuracy: 0.6841
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 1.2850 - accuracy: 0.6992
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 1.3246 - accuracy: 0.6962
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 1.2532 - accuracy: 0.7032
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 1.2071 - accuracy: 0.7033
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 1.1070 - accuracy: 0.7123
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8805 - accuracy: 0.7256
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.9622 - accuracy: 0.7215
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.9422 - accuracy: 0.7135
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 1.0319 - accuracy: 0.7172
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.9289 - accuracy: 0.7209
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.9474 - accuracy: 0.7232
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.9562 - accuracy: 0.7166
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.9467 - accuracy: 0.7213
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.9365 - accuracy: 0.7252
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.9390 - accuracy: 0.7231
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.9403 - accuracy: 0.7231
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8951 - accuracy: 0.7275
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8789 - accuracy: 0.7283
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8876 - accuracy: 0.7258
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.9285 - accuracy: 0.7222
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.9605 - accuracy: 0.7200
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.9343 - accuracy: 0.7219
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.9221 - accuracy: 0.7246

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [50]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2) # YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 1.1166 - accuracy: 0.7089 - 232ms/epoch - 867us/step
Loss: 1.1166467666625977, Accuracy: 0.7089212536811829

In [51]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =nn_A1.evaluate(X_test_scaled, y_test, verbose=2)# YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.5901 - accuracy: 0.7299 - 256ms/epoch - 954us/step
Loss: 0.5901411175727844, Accuracy: 0.729912519454956

In [52]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2) # YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.8882 - accuracy: 0.7279 - 251ms/epoch - 938us/step
Loss: 0.8881624937057495, Accuracy: 0.7279300093650818

### Step 3: Save each of your alternative models as an HDF5 file.

In [53]:
# Set the file path for the first alternative model
file_path_A1 = Path("Resources/model_A1.h5") # YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE
nn_A1.save(file_path_A1)

In [54]:
# Set the file path for the second alternative model
file_path_A2 =Path("Resources/model_A2.h5") # YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE
nn_A2.save(file_path_A2)